/* "Teknologröd" (the color of Teknologföreningen): #b20738 */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold.otf')  format('opentype'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.ttf')  format('truetype'),
	url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Light.otf')  format('opentype'),
	url('../fonts/Montserrat-Light.woff') format('woff'),
	url('../fonts/Montserrat-Light.ttf')  format('truetype'),
	url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

a, a:hover, a:active, a:visited {
  color: #fff;
  text-transform: uppercase;
}

body {
  font-family: "Montserrat-Light", sans-serif;
  background: url("../assets/background-hd.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Different sized backgrounds depending on the screen size */
@media screen and (min-height: 721px) {
  body {
    background-image: url("../assets/background-fhd.jpg");
  }
}

@media screen and (min-height: 1081px) {
  body {
    background-image: url("../assets/background-qhd.jpg");
  }
}

@media screen and (min-height: 1441px) {
  body {
    background-image: url("../assets/background-4k.jpg");
  }
}

.content {
  margin-top: 1em;
  width: 100%;
}

.external-links a {
  display: inline-block;
}

.external-links .columns {
  padding-left: 0;
  padding-right: 0;
}

.external-links img, .mobile-external-links img {
  float: left;
}

.external-links h3 {
  margin: 0;
  display: inline;
}

.external-links span {
  font-size: 0.8em;
  text-transform: none;
}

footer ul {
  text-align: center;
}

footer ul li {
  padding: 5px;
  display: inline;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

h1 {
  font-family: "Montserrat-Bold", sans-serif;
}

h3 {
  color: white;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.link-container {
  display: inline-block;
  text-align: left;
  margin-top: 6px;
  margin-left: 16px;
}

img.tf-logo {
  max-height: 270px;
}

.no-margin {
  margin: 0;
}

ul.page-links-desktop {
  font-size: 0.9em;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.page-links-desktop li {
  padding: 15px;
  font-weight: bold;
  display: inline-block;
  list-style-type: none;
}

.todays-menu {
  background-color: white;
  padding: 15px 25px 15px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  display: inline-block;
  text-align: left;
  margin-bottom: 2em;
}

.todays-menu-container {
  text-align: center;
}

.todays-menu ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1em;
}

.todays-menu p {
  color: #b11e3a;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.todays-menu li {
  font-size: 0.8em;
}

.todays-menu div.hidden {
  display: none;
}

.top-bar-section ul li > a {
  font-family: "Montserrat-Light", sans-serif;
  text-transform: uppercase;
  color: #222;
}

.top-bar-section ul li > a span {
  text-transform: none;
}

.wider-links {
  width: 350px;
}

/* General desktop specific properties */
@media not screen and (max-width: 64.063em) {

  body {
    min-height: 660px;
  }

  li.mobile-external-links {
    display: none;
  }

  .row.tf-logo {
    text-align: center;
    margin-bottom: 3em;
  }

  .row.internal-links {
    margin-bottom: 2em;
  }

  .row.external-links {
    margin-bottom: 2em;
    text-align: center;
  }

  .row.menu {
    margin-bottom: 2em;
  }

  /* Reduce vertical margin between elements on smaller displays */
  @media screen and (max-height: 740px) {

    /* Don't attempt to center the content if the height of the content is larger than the viewport height */
    @media screen and (max-height: 660px) {
      .content {
        top: 0;
        transform: none;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .row.tf-logo {
      margin-bottom: 1em;
    }

    .row.internal-links {
      margin-bottom: 0.5em;
    }

    .row.external-links {
      margin-bottom: 0.5em;
    }

    .row.menu {
      margin-bottom: 1em;
    }
  }

  /* Increase vertical margin between elements on larger displays */
  @media screen and (min-height: 900px) {
    .row.tf-logo {
      margin-bottom: 5em;
    }

    .row.internal-links {
      margin-bottom: 3em;
    }

    .row.external-links {
      margin-bottom: 4em;
    }

    .row.menu {
      margin-bottom: 5em;
    }
  }

  .top-bar {
    display: none;
  }
}

/* Mobile specific properties */
@media screen and (max-width: 64.063em) {

  body {
    min-height: 450px;
  }

  .columns {
    padding: 0;
  }

  .external-links {
    display: none;
  }

  .external-links .columns {
    margin-bottom: 10px;
  }

  img.tf-logo {
    margin-bottom: 25px;
  }

  h3 {
    color: black;
  }

  .mobile-external-links {
    padding: 6px 0 6px 24px;
  }

  .mobile-external-links.first {
    padding-top: 20px;
  }

  .mobile-external-links img {
    width: 48px;
    margin-top: 8px;
  }

  .mobile-internal-links {
    padding-left: 24px;
  }

  .row.tf-logo {
    margin-bottom: 15%
  }

  /* Smaller margin for iPhone 4 */
  @media screen and (max-height: 480px) {
    .row.tf-logo {
      margin-bottom: 10px;
    }
  }

  /* Colors the hamburger menu when unexpanded */
  .top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff
  }

  /* Colors the hamburger menu when expanded */
  .top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px #222, 0 7px 0 1px #222, 0 14px 0 1px #222
  }

  /* Hide top bar background when unexpanded */
  .top-bar {
    background: none;
  }

  .top-bar.expanded {
    display: inline-block;
    z-index: 10;
    height: 100%; /* Covers the screen when menu is expanded */
    width: 100%;
    background-color: white;
  }

  /* Add a white background to the top bar when the hamburger menu is expanded */
  .top-bar.expanded .title-area {
    background: #fff;
  }

  /* Changes the background of the list items in the top bar*/
  .top-bar-section ul li {
    background-color: #fff;
  }

  /* Override default Foundation colors when clicking on links */
  .top-bar-section ul li:hover:not(.has-form) > a {
    background: none;
    color: black;
  }

  /* Hide page links from mobile version */
  ul.page-links-desktop {
    display: none;
  }
}
