/* "Teknologröd" (the color of Teknologföreningen): #b20738 */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold.otf')  format('opentype'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.ttf')  format('truetype'),
	url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Light.otf')  format('opentype'),
	url('../fonts/Montserrat-Light.woff') format('woff'),
	url('../fonts/Montserrat-Light.ttf')  format('truetype'),
	url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

a, a:hover {
  color: #fff;
  text-transform: uppercase;
}

body {
  font-family: "Montserrat-Light", sans-serif;
  background: url("../assets/tf_natsida.jpg") no-repeat center center fixed;
  background-size: cover;
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.external-links .columns {
  padding-left: 0;
  padding-right: 0;
}

.external-links h3 {
  margin: 0;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

h1 {
  font-family: "Montserrat-Bold", sans-serif;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

img.tf-logo {
  max-height: 270px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  text-align: center;
}

footer ul li {
  padding: 5px;
  display: inline;
}

ul.page-links-desktop {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 0;
}

.page-links-desktop li {
  padding: 15px;
  font-weight: bold;
  display: inline;
  list-style-type: none;
}

.todays-menu {
  background-color: white;
  padding: 15px 25px 15px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  display: inline-block;
  text-align: left;
}

.todays-menu-container {
  text-align: center;
}

.todays-menu ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.todays-menu p {
  color: #b11e3a;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.top-bar-section ul li > a {
  font-family: "Montserrat-Light", sans-serif;
  text-transform: uppercase;
  color: #222;
}

.top-bar-section ul li > a span {
  text-transform: none;
}

/* General desktop specific properties */
@media not screen and (max-width: 40em) {

  li.mobile-links {
    display: none;
  }

  .row.tf-logo {
    margin-bottom: 3em;
  }

  .row.internal-links {
    margin-bottom: 2em;
  }

  .row.external-links {
    margin-bottom: 2em;
  }

  .top-bar {
    display: none;
  }
}

/*@media screen and (min-height: 800px) {
  img.tf-logo {
    margin-top: 6em;
  }
}

@media screen and (min-height: 900px) {
  img.tf-logo {
    margin-top: 9em;
  }
}

@media screen and (min-height: 1000px) {
  img.tf-logo {
    margin-top: 12em;
  }
}

@media screen and (min-height: 1100) {
  img.tf-logo {
    margin-top: 15em;
  }
}*/

/* Mobile specific properties */
@media screen and (max-width: 40em) {

  .columns {
    padding: 0;
  }

  .external-links {
    display: none;
  }

  .external-links .columns {
    margin-bottom: 10px;
  }

  img.tf-logo {
    margin-bottom: 25px;
  }

  /* Colors the hamburger menu when unexpanded */
  .top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff
  }

  /* Colors the hamburger menu when expanded */
  .top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px #222, 0 7px 0 1px #222, 0 14px 0 1px #222
  }

  /* Hide top bar background when unexpanded */
  .top-bar {
    background: none;
  }

  /* Margin to the TF logo when the hamburger menu is expanded*/
  .top-bar.expanded {
    z-index: 10;
    margin-bottom: 25px;
  }

  /* Add a white background to the top bar when the hamburger menu is expanded */
  .top-bar.expanded .title-area {
    background: #fff;
  }

  /* Changes the background of the list items in the top bar*/
  .top-bar-section ul li {
    background-color: #fff;
  }

  /* Hide page links from mobile version */
  ul.page-links-desktop {
    display: none;
  }
}
