/* "Teknologröd" (the color of Teknologföreningen): #b20738 */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Montserrat-Bold.otf')  format('opentype'),
  url('fonts/Montserrat-Bold.woff') format('woff'),
	url('fonts/Montserrat-Bold.ttf')  format('truetype'),
	url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('fonts/Montserrat-Light.otf')  format('opentype'),
	url('fonts/Montserrat-Light.woff') format('woff'),
	url('fonts/Montserrat-Light.ttf')  format('truetype'),
	url('fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 36px "Montserrat-Light";
}

h1 {
  font-family: "Montserrat-Bold";
  font-size: 100px;
}

img.tf-logo {
  max-height: 270px;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
}

.top-bar-section ul li > a {
  font-family: "Montserrat-Light"
}
